[submodule "vim/pack/dist/start/vim-airline"]
	path = vim/pack/dist/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/dist/start/ctrlp.vim"]
	path = vim/pack/dist/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/pack/dist/start/vim-signify"]
	path = vim/pack/dist/start/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "vim/pack/dist/start/vim-one"]
	path = vim/pack/dist/start/vim-one
	url = https://github.com/rakr/vim-one.git
[submodule "vim/pack/dist/start/nerdtree"]
	path = vim/pack/dist/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "vim/pack/dist/start/vim-schlepp"]
	path = vim/pack/dist/start/vim-schlepp
	url = https://github.com/zirrostig/vim-schlepp.git
[submodule "vim/pack/dist/start/supertab"]
	path = vim/pack/dist/start/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/pack/dist/start/vim-surround"]
	path = vim/pack/dist/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/pack/dist/start/vim-repeat"]
	path = vim/pack/dist/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/pack/dist/start/tcomment_vim"]
	path = vim/pack/dist/start/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "nvim/pack/dist/start/nvim-lspconfig"]
	path = nvim/pack/dist/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "nvim/pack/dist/start/coq_nvim"]
	path = nvim/pack/dist/start/coq_nvim
	url = https://github.com/ms-jpq/coq_nvim.git
[submodule "nvim/pack/dist/start/coq.artifacts"]
	path = nvim/pack/dist/start/coq.artifacts
	url = https://github.com/ms-jpq/coq.artifacts.git
[submodule "vim/pack/dist/start/vim-fish"]
	path = vim/pack/dist/start/vim-fish
	url = https://github.com/dag/vim-fish.git
[submodule "vim/pack/dist/start/vim-unimpaired"]
	path = vim/pack/dist/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "nvim/pack/dist/start/nvim-lsp-installer"]
	path = nvim/pack/dist/start/nvim-lsp-installer
	url = https://github.com/williamboman/nvim-lsp-installer.git
