[submodule "vim/pack/dist/start/vim-airline"]
	path = vim/pack/dist/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/dist/start/ctrlp.vim"]
	path = vim/pack/dist/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/pack/dist/start/vim-signify"]
	path = vim/pack/dist/start/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "vim/pack/dist/start/vim-one"]
	path = vim/pack/dist/start/vim-one
	url = https://github.com/rakr/vim-one.git
